{% include 'head.html' %} {% include 'scripts.html' %} {% load static %}

<footer class="page-footer text-center text-md-left success-color-dark">
  <div class="container-fluid py-5">
    <div class="flex-center">
      <ul class="list-unstyled">
        <li>
          <h4 class="h2-responsive mb-4 mt-5">
            <i class="fas fa-quote-left text-dark"></i>
            My Gallery speaks a thousand words about me. The greatest art, I'd say
            <i class="fas fa-quote-right text-dark"></i>
          </h4>
        </li>
        <li>
          <h3 class="white-text">@ <b class="white-text">Moses Valei</b></h3>
        </li>
      </ul>
    </div>
  </div>
  <!-- copyright -->
  <div class="footer-copyright text-center py-3">
    <h5>© 2021 Copyright:<a href="#"> moses_valei</a></h5>
  </div>
</footer>
